$colorPrimary : orange;
$colorSecondary : green;
$colorThree : purple;

$map: (
    0: pink,
  1: $colorPrimary,
  2: $colorSecondary,
  3: $colorThree,
  4: black,
  5: blue
);

html{
    background-color: white;
}

main{

    p{
        color: purple;
        font-size: 93px;
        animation-duration: 2s;
        animation-name: changeColor;
        animation-iteration-count: infinite;
    }

    .menubtn{
        height: 50px;
        width: 100px;
        position: relative;
                &:hover > .color{
                    animation: moveColor .5s both ease-in;
        }

    }

    .color{
        position: inherit;
        background-color: chartreuse;       
        height: 50px;     
        left: 15px;
        top: 16px;
        overflow: visible;
    
    }

    .buttontest{
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        border: 1px solid black;
        height: 50px;
        z-index: 3;
    }

}


@keyframes changeColor {    

    $i: 0;
    @while $i <11 {
        #{$i}0%{
            color : map-get($map, $i/2);
        }
        $i: $i +2;

    }
    
}


@keyframes moveColor {
    0% {
      transform: translate(0px, 0px);
    }
  
    100% {
        transform:translate(-16px,-15px);
    }
  }

